#activityList {
	overflow-y: auto;
	height: 80vh; /* 93vh is full height */
	overscroll-behavior: contain;
	position: relative;
	/*scroll-snap-type: y mandatory;*/
}

#prevPage {
	height: 200px;
	text-align: center;
	line-height: 350px;
}

#nextPage {
	height: 200px;
	text-align: center;
	line-height: 50px;
}

.customButton {
	margin: 1px;
}