#notAdded {
	background-color: peachpuff;
}

#added {
	background-color: grey;
}

.activityTop {
	border-radius: 10px;
	margin-top: 20px;
	padding: 20px;
	width: 100%;
	scroll-snap-align: start none;
}

.activityBottom {
	border-radius: 10px;
	margin-top: 20px;
	padding: 20px;
	width: 100%;
	scroll-snap-align: end none;
}
