/*BUTTON CSS*/
#notAdded {
	background-color: rgb(30,30,30, 0.8);
	color: white;
}

#notAdded:hover {
	background-color: rgb(60,60,60);
	border-color: rgb(60,60,60);
}

#added {
	background-color: rgb(130,130,130, 0.8);
	color: white;
}

#added:hover {
	background-color: rgb(130,130,130);
}

.addActivityButton {
	width: 50%;
	font-size: 1.75vmin;
	padding: 1vmin;

	border: none;
	border-radius: 5vmin;

	cursor: pointer;
	text-align: center;
	margin-left: 8vw;
}

/*MAIN BOX CSS*/
.activityBox {
	/*background-color: rgb(255,255,255,0.5);*/
	background-color: white;
	color: black;
	margin-top: 2vmin;
	padding: 2vmin;
	/*border-radius: 10px;*/
	box-shadow: 0 0.2vmin 0.4vmin rgba(0,0,0,0.2)
}

/*IMAGE CSS*/
.imgBox {
	border-right: solid;
	border-color: grey;
	border-width: thin;
}
.activityImg {
	height: 10vh;
	width: 100%;
	border-radius: 5px;
}

.activityName {
	font-size: 2vmin;
	margin-bottom: 0;
}

.activityDes {
	font-weight: bold;
	padding-top: 1.5vmin;
	font-size: 1.5vmin;
}