.inputForm-box {
  background: rgba(255, 255, 255, 0.65); 
  padding: 5vw;
  padding-left: 5vw;
  border-right: 10vw;
  border-radius: 50px;

  color: black;
  font-family: Montserrat;
}

.inputForm-form {
  margin-top: 5vh;
}

/* Pertaining to Country Input field*/
.location-search-input {
  height: 40px;
  width: 290px;
  text-align: center;
  font-size: 2.5vmin;
}

/* Pertaining to Country Input Autocomplete field */
.autocomplete-dropdown-container {
  font-size: 2.5vmin;
} 

.inputForm-dates {
  height: 120px;
}
.inputForm-submit {
  padding-top: 20px;
}

.DateInput_input {
  text-align: center;
}

.trippyy-logo{
  height: auto;
  width: 30vw;
  float: left;
  margin: auto;
}

.logo-container {
  display: fixed;
  padding-left: 10vw;
}