.resultActivityBox {
	width: 45vw;
	background-color: white;
	color: var(--color1);
	margin: auto;
	box-shadow: 0 0.4vmin 0.8vmin rgba(0,0,0,0.2);
	border: solid 1px #f0eded;
}

.timeBox {
	padding-top: 3vmin;
	padding-bottom: 3vmin;
	display: flex;
	flex-direction: column;
}

.startTime {
	margin-left: 1.5vw;
	height: 90%;

	font-size: 1.8vmin;
}

.endTime {
	margin-left: 1.5vw;
	font-size: 1.8vmin;
}

.descBox {
	text-align: left;
	padding: 4vmin;
}


/*IMAGE*/
.timelineImgBox {
	padding: 4vmin;

}

.timelineImg {
	width: 13vw;
	border-radius: 5px;
}

/*FONTS*/


.resultsAddress {
	font-size: 2vmin;
	font-weight: bold;
}