#selectedActivityList {
	overflow: auto;
	height: 40vh;
	overscroll-behavior: contain;
	/*position: fixed;*/
	margin-top: 30px;
	/*scroll-snap-type: y mandatory;*/
}

.itiButton {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.statsBox {
  margin-top: 2vh;
}

.statsDes {
  width: 10vw;
  text-align: left;
  font-size: 2vmin;
  margin-top: 1vh;
}

.statsNum {
  margin: auto;
  text-align: center;
  font-size: 3vmin;
  font-weight: bold;

}

.stats1 {
  display: flex;
  border-bottom: solid;
  border-color: grey;
}
