#timetable {
	content: "";
	display: table;
	clear: both;
	position: relative;
  margin-top: 40px;
  margin: 40px auto;
  text-align: center;
}

.timetableActivity {
  float: left;
  height: 80px;
  width: 150px;
  padding: 0 10px;
  margin: 20px;
  background-color: peachpuff;
  border-radius: 5px;
}

.day {
  height: 120px;
  width: 1000px;
  background-color: lightblue;
  margin: 20px;
  border-radius: 5px;
}