.empty {
  opacity: 0;
  height: 50vh;
  background-color: none;

}


#timetableBox {
  background-color: white;
  padding-bottom: 10vmin;
  height: 100vh;
  width: 60vw;  
  margin: auto;
  margin-top: 4vmin;

  position: relative;

  
}

.timetableContainerBox {
  padding-top: 6vmin;
}

/*CHANGE PAGE ICONS -------------------------------------*/
.changePageBox {  
  width: 0vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.changePageBox-left {
  justify-content: center;
  transform: scaleX(-1);
}

.changePageIcon {
  width: 3vw;
  flex: none;
}

.changePageIcon-right {
  margin-left: 3.5vw;
}

/*CHANGE PAGE ICONS -------------------------------------*/


.daysContainer {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}


.gridContainer {
  position: absolute;
  display:flex;
  flex-direction: row;

}
/*WHOLE ASS COLS ------------------------------------------------*/

.day {
  overflow: contain;

  display: flex;
  flex-direction: column;

  flex: none;

  width: 10vw;
/*
  border: dashed;
  border-bottom: none;
  border-color: var(--color1half);
  border-width: 0.2vmin;
*/
}

.timeDay {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  width: 5vw;
  
}

.insideTimeDay {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 10vw;

  z-index: 0;

}

/*SPECIFIC BLOCKS ------------------------------------------------*/
.dayDetails {
  width: 10vw;
  height: 5vh;

  /*DESIGN*/
  background-color: var(--color1);
  color: white;
  border-right: solid 1px;


  /*FLEX SETTINGS FOR TEXT INSIDE*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  /*FONTS*/
  font-size: 2vmin;

  flex: none;
  z-index: 1;
}

.dayDetailsButton {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
cursor: pointer;
  border: 1px solid white;
  border-radius: 30px;
  padding-left: 1vw;
  padding-right: 0.5vw;

}


.dayDetailsButton:hover {
  background-color: grey;
}

.dayBackground {
  width: 10vw;
  height: 5vh;

  background-color: var(--color1);
}

.timetableActivityDetails {
  /*POSITIONING*/
  margin: auto;
  padding: 1vmin;
  height: 95%;
  width: 100%;

  /*DESIGN*/
  background-color: lightblue;
  cursor: move;
  text-align: left;
}
.timetableActivity {
  /*Positioning*/
  position: relative;
  width: 9vw;
  margin: auto;

  /*FLEX STUFF*/
  overflow-y: auto;
  z-index: 1;

  /*AS PARENT CONTAINER*/
  display: flex;
  justify-content: center;
  align-item: center;
}

.timetableTravelDetails {
  /*POSITIONING*/
  margin: auto;
  height: 95%;
  width: 100%;

  /*DESIGN*/
  background-color: rgb(200,200,200);
  text-align: left;
  font-size: 1.3vmin;
  font-weight: bold;

  /*AS PARENT*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.planeIcon {
  height: 30%;
  width: auto;
}

.timeBlock {
  height: 5vh;
  padding-right: 2vmin;
  background-color: none;
  font-size: 1.5vmin;
  font-weight: bold;
  flex-shrink: 0;
  text-align: right;
}

.insideTimeBlock-even {
  width: 10vw;
  height: 5vh;
  background-color: rgb(245,245,245);

  /*BORDER STUFF*/
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-color: var(--color1half);
  border-width:1px;

  /*FLEX STUFF*/
  flex-shrink: 0;

  z-index: 0;
}

.insideTimeBlock-odd {
  width: 10vw;
  height: 5vh;
  background-color: rgb(255,255,255);

  /*BORDER STUFF*/
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-color: var(--color1half);
  border-width:1px;

  /*FLEX STUFF*/
  flex-shrink: 0;

  z-index: 0;
}

/*FONTS ------------------------------------------------*/
.activityFont {
  font-weight: bold;
  font-size: 1.5vmin;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.timeFont {
  font-size:1.5vmin;
  font-family: sans-serif;
}

/*ICONS ----------------------*/
.mapIcon {
  margin-left: 5px;
  margin-bottom: 3px;
  height: 3vh;
  width: 2vw;
  object-fit: contain;
  padding: 3px;
  color: white;
  filter: invert(1);

}

/*button*/
.viewDayButton {
  z-index: 1;
}