.empty {
  opacity: 0;
  width: 100vw;
  height: 8vh;
  background-color: black;
}

.day {
  height: 10vh;
  width: 60vw;
  background-color: lightblue;
  margin: 1vw auto;
  border-radius: 10px;
  overflow: scroll;
  padding: 0.5vw;

  text-align: left;
  display: flex;
}

.dayDetails {
  margin-right: 2vw;
  text-align: center;
  line-height: 2vmin;
  width: auto;
  
  font-size: 2vmin;
  flex-shrink: 0;
}

.timetableActivity {
  height: 8vh;
  background-color: peachpuff;
  padding: 0.5vmin;

  border:0.2vw;
  border-color: lightblue;
  border-style: solid;
  border-radius: 8px;

  overflow-y: auto;
  flex-shrink: 0;

  
  text-align: left;
}

.activityFont {
  font-weight: bold;
  font-size: 1.5vmin;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.timeFont {
  font-size:1.5vmin;
  font-family: sans-serif;
}