.startBox {
  margin-top: 60px;
  min-height: 0vh;
  color: black;
  justify-content: center;
  text-align: left;
  font-family: 'Courier New', sans-serif;
}

.element {
	margin-top: 10px;
}

#activitiesBox {
	border-color: peachpuff;
	border-style: solid;
  border-left: 0px;
	padding-top: 10px;
}

#selectedActivitiesBox {
  border-color: peachpuff;
  border-style: solid;
  padding-top: 10px;
}