@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


:root {
  --color1: #588B8B;
  --color1strong: #588B8BDC;
  --color1half: #588B8B99;
  --color2: #FFFFFF;
  --color2strong: #FFFFFFDC;
  --color2half: #FFFFFF99;
  --color3: #FFD5C2;
  --color3strong: #FFD5C2DC;
  --color3half: #FFD5C299;
  --color4: #F28F3B;
  --color4strong: #F28F3BDC;
  --color4half: #F28F3B99;
  --color5: #C8553D;
  --color5strong: #C8553DDC;
  --color5half: #C8553D99;
}

.bigBox {
  margin-top: 8vh;
  min-height: 0vh;
  justify-content: center;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  position: relative;
}
#startBg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top:0;
}

#loginPage {
  /*background-image: url('../../assets/startBackground.jpg');
  background-size: cover;*/
  height: 110vh;
  padding-top: 5vh;
  font-family: Montserrat;
}
/*
#login-startbox {
  border-radius: 25px;
  font-family: Montserrat;
}*/

/* #login-startbox input{
  width: 400px;
} I want to expand the text fields here */

#signupPage {
  background-image: url('../../assets/startBackground.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 5vh;
  font-family: Montserrat;
}
/*
#signup-startbox {
  border-radius: 25px;
  font-family: Montserrat;
}
*/

.loadingBox {
  background-color: lightblue;
  
}
button {
    background-color: #5CCFE9;
    color: black;
    border-radius: 5px;
    border: 5px solid #5CCFE9;
}

h1 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}