@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


.startBox {
  margin-top: 8vh;
  min-height: 0vh;
  justify-content: center;
  text-align: left;
  font-family: 'Cabin', serif;
}

#startPage {
  background-image: url('../../assets/startBackground.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 8vh;
}

#login {
  background-image: url('../../assets/startBackground.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 5vh;
  font-family: Montserrat;
}

#login-startbox {
  border-radius: 25px;
  font-family: Montserrat;
}

/* #login-startbox input{
  width: 400px;
} I want to expand the text fields here */

#signup {
  background-image: url('../../assets/startBackground.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 5vh;
  font-family: Montserrat;
}

#signup-startbox {
  border-radius: 25px;
  font-family: Montserrat;
}

.element {
	margin-top: 10px;
}

button {
    background-color: #5CCFE9;
    color: black;
    border-radius: 5px;
    border: 5px solid #5CCFE9;
}