
.resultsBigBox {
  max-height: 93vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

}

.resultsMapBox {
  scroll-snap-align: start;
  padding: 0;
  overflow: scroll;
}

.welcomeBox {
  scroll-snap-align: start;
}

.itineraryBox {
  scroll-snap-align: start;
  position: relative;
  margin: auto;
  text-align: center;
  
  overflow-y: auto;
  height: 90vh;

  scroll-snap-type: y mandatory;

}

.loadingBox {
  background-color: rgb(255,255,255,0.5);
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
  margin: auto;
}