/* #activityList {
    height: 36%;
} */

.shoppingBox {
	width: 100vw;
	/*position: fixed;*/
}

.shoppingContainer {
	display: flex;
	flex-direction: row;
}
.shoppingBg {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	opacity: 0.5;
}

#activitiesBox {
	height: 93vh;
	width: 33vw;
  	border-left: 0px;
	padding-top: 10px;
	margin-right: 0;
}

#selectedActivitiesBox {
  height: 93vh;
  width: 17vw;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
}

.browseSearchRow {
	display: flex;
	flex-direction: row;
	width: 100%;

	border-bottom: 1px grey solid;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.browseBox {
	border-left: 1px grey solid;
	border-top: 1px grey solid;
	
	width: 33%;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vmin;
	font-weight: bold;
	cursor: pointer;
}

.browseBox:hover {
	text-decoration: underline;
}

.searchBox {
	padding: 0;
	width: 66%;
}
.mapBox {
	width: 50vw;
	padding: 0;
}

.searchGrey {
	background-color: var(--color1);
	color: white;
}

.browseGrey {
	background-color: rgb(200,200,200, 0.5);
}