#startPage {
  background-image: url('../../assets/startBackground.jpg');
  background-size: cover;
  height: 110vh;

  /*To make the background image look nice*/
  padding-top: 8vh;
  /*opacity: 0;*/
  transition: opacity 1s ease-in-out;
}

#startPage active {
	opacity: 1;
}